---
layout: page.liquid
title: Single movie
description: Movie description
---
<main class="project-page">
  <div class="container">
    <section class="project-overview">
      <h1 class="project-title">{{ title }}{% if subtitle %} <span class="project-subtitle">({{ subtitle }})</span>{% endif %}</h1>

      <div class="video-embed">
        <iframe
          src="https://www.youtube.com/embed/{{ youtube_id }}?rel=0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>

      <div class="project-info">
        <h2>Info</h2>
        <div class="project-desc">
          {% for paragraph in description %}
            <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="project-gallery">
      <div class="category-subheading">
        <h2>Visuals</h2>
      </div>
      <div class="project-gallery-images">
        {% for src in images %}
          {% if src contains '.webp' %}
            <picture>
              <source srcset="{{ src }}" type="image/webp">
              <img src="{{ src | replace: '/static/images/', '/static/images/jpg/' | replace: '.webp', '.jpg' }}">
            </picture>
          {% else %}
            <img src="{{ src }}">
          {% endif %}
        {% endfor %}
      </div>
    </section>
  </div>
</main>
